# Yttre portar 
FRONTEND_PORT=8015
BACKEND_PORT=3015
POSTGRES_PORT=5415
RABBITMQ_PORT=5615
RABBITMQ_MANAGEMENT_PORT=15615
REDIS_PORT=6315

# Db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=ditt_lösenord_här
POSTGRES_DB=fastfood

# RabbitMQ
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=ditt_lösenord_här

#Forgejo

FORGEJO_USER=mos
FORGEJO_PASS=pass
FORGEJO_HOST=tailscaleIP
FORGEJO_PORT=5555