# Serverinställningar
BACKEND_PORT=3015

# CORS 
# Ändra vid Prod = https://kurs4.moshos.se 
FRONTEND_URL=http://localhost:8015

# DBn och RabbitMQ
DATABASE_URL=postgresql://postgres:ditt_lösenord_här@postgres:5432/fastfood
RABBITMQ_URL=amqp://guest:ditt_lösenord_här@rabbitmq:5672
REDIS_URL=redis://redis:6379